<?xml version="1.0" encoding="utf-8"?>
<launch>
  <param name = "/use_sim_time" value="true"/>
    <include file="$(find calibration)/launch/rotate_os_cloud.launch" />
    <node  pkg = "motion_detector"
         name="motion_detector_node_right"
         type="motion_detector_node"
         output="screen">
	 <remap from="/tvec_in" to="/right/tvec_plane"/>
	 <remap from="/rvec_in" to="/right/normal_plane"/>
     <remap from="/image_in" to="/nerian_stereo/right_image"/>
     <remap from="/cloud_in" to="/os1_cloud_node/points/rotated"/>
     <param name="data_folder_name" value="$(find motion_detector)/data/right_os"/>
     <param name="buffer_size" value="5"/>
  </node>
</launch>
