<launch>
        <arg name="computer_name" value="usl" />

        <param name ="/use_sim_time" value="true"/>
        <param name ="cam_config_file_path"
               value="/home/$(arg computer_name)/catkin_ws/src/camera_lidar_calibration/config/nerian_passthru_faccal_right.yaml"/>
        <param name ="target_config_file_path"
               value="/home/$(arg computer_name)/catkin_ws/src/camera_lidar_calibration/config/target_1.yaml"/>
        <param name = "line_length_threshold" value="50"/>
        <param name = "canny_threshold" value="200"/>

        <node pkg="image_line_detection" type="image_line_detection_node" name="right_image_line_detection" output="screen">
              <remap from="/camera/image" to="/nerian_stereo/right_image"/>
        </node>
</launch>
