<?xml version="1.0" encoding="utf-8"?>
<launch>

  <param name ="image_left_folder_name" value="/home/usl/catkin_ws/src/camera_lidar_calibration/synchronizer/data/left"/>
  <param name ="image_right_folder_name" value="/home/usl/catkin_ws/src/camera_lidar_calibration/synchronizer/data/right"/>
  <param name ="pointcloud_folder_name" value="/home/usl/catkin_ws/src/camera_lidar_calibration/synchronizer/data/pointcloud"/>
  <param name ="lidar_output_topic_name" value="/velodyne_points"/>
  <param name ="image_left_topic_name" value="/nerian_stereo/left_image"/>
  <param name ="image_right_topic_name" value="/nerian_stereo/right_image"/>
  <param name ="output_fps" value="5"/>
  <node  pkg="random_frame_generator" name="random_frame_generator" type="random_frame_generator_node" output="screen">
  </node>

</launch>
