<?xml version="1.0" encoding="utf-8"?>
<launch>

  <param name = "/use_sim_time" value="true"/>
  <param name = "max_no_of_plane_views" value="8"/>
  <param name = "max_no_of_line_views" value="10"/>
  <param name = "initializeR" value="false"/>

  <param name = "usePlane" value="true"/>
  <param name = "useLines" value="false"/>
  <param name = "jointSol" value="false"/>
  <param name = "planeFirst" value="true"/>

  <param name = "result_str" value="/home/usl/catkin_ws/src/camera_lidar_calibration/calibration/result/C_T_L.txt"/>
  <node  pkg="calibration" name="calibration_node_test_initialization_node" type="calibration_node_test_initialization_node" output="screen">
  </node>

</launch>
