<?xml version="1.0" encoding="utf-8"?>
<launch>

  <param name = "/use_sim_time" value="true"/>
  <param name = "x_min" type= "double" value= "0.75"/>
  <param name = "x_max" type= "double" value= "4"/>
  <param name = "y_min" type= "double" value= "-1"/>
  <param name = "y_max" type= "double" value= "1"/>
  <param name = "z_min" type= "double" value= "-0.8"/>
  <param name = "z_max" type= "double" value= "2"/>
  <param name = "min_pts" type= "int" value= "1500"/>
  <param name = "ransac_threshold" type= "double" value= "0.005"/>
  <param name = "points3d_file_name" value="/home/subodh/catkin_ws/src/camera_lidar_calibration/matlab/points3dplane.csv"/>
  <param name = "radius_filter" value="true"/>
  <node  pkg="checkerboard_plane_detection" name="checkerboard_plane_detection" type="checkerboard_plane_detection_node" output="screen">
	<remap from="/cloud_in" to="/velodyne_points"/>
    <remap from="/plane_out" to="/velodyne_points/plane"/>
  </node>
</launch>
